<link rel="stylesheet" href="footer.css">

<footer class="footer">


  <div class="container">
    <div class="footer_inner">
      <div class="c-footer">
        <div class="layout">
          <div class="layout_item w-50">
            <div class="newsletter">
              <h3 class="newsletter_title">Young Enterprise Scotland </h3>
              <h4 align="center" class="c-nav-tool_title">Our Vision is for Scotland to be a place where all young people are given the opportunity to have a rewarding future in work and life - no matter where they start their journey. </h4>

            </div>
          </div>

          <div class="layout_item w-25">
            <nav class="c-nav-tool">
              <h4 class="c-nav-tool_title">Contact Us</h4>
              <ul class="c-nav-tool_list">
                <li>
                  <a href="" class=""> </a>
                </li>

                <li>
                  <a href="/pages/about-us" class="c-link">Rouken Glen Centre
Rouken Glen Park
Thornliebank
Glasgow
G46 7UG
Scotland
United Kingdom </a>
                </li>

                <li>
                  <a href="/blogs/community" class="c-link"> +44 (0)141 406 7722</a>
                </li>
                <li>
                  <a href="#" class="c-link">admin@yes.org.uk</a>
                </li>
              </ul>
            </nav>

          </div>

          <div class="layout_item w-25">
            <nav class="c-nav-tool">
              <h4 class="c-nav-tool_title"> Connect With Us   </h4>
              <ul class="c-nav-tool_list">

                <li class="c-nav-tool_item">
                  <a href="" class=""></a>
                </li>

                <li class="c-nav-tool_item">
                  <a href="/pages/help" class="c-link">Help &amp; FAQ</a>
                </li>

                <li class="c-nav-tool_item">
                  <a href="/pages/terms-conditions" class="c-link">Terms &amp; Conditions</a>
                </li>

                <li class="c-nav-tool_item">
                  <a href="/pages/privacy-policy" class="c-link">Privacy Policy</a>
                </li>

                <li class="c-nav-tool_item">
                  <a href="/pages/contact" class="c-link">Contact</a>
                </li>

                <li class="c-nav-tool_item">
                  <a href="/account/login" class="c-link">
                    Login
                  </a>
                </li>
              </ul>
            </nav>

          </div>
        </div>

    <div class="footer_copyright">
    </div>
  </div>
</footer>