<title>About</title>
{% extends 'composter/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

{% block content_block %}
    <h1 class="card-title">About Us</h1>
    <h5 class="card-text">Our Vision</h5>
    <p class="card-text">For Scotland to be a place where all young people are given the opportunity to
        have a rewarding future in work and life - no matter where they start their journey.</p>
    <h5 class="card-text">Our Mission</h5>
    <p class="card-text">To inspire and equip young people, irrespective of their background, to learn,
        develop and reach their full potential through enterprise and financial education.
        We set high standards whilst being creative in our approach. Whilst continuing to grow our
        offering, we will ensure that all our activities are fit to meet our Mission ’whilst adhering to
        its guiding principle to do this through ’learning by doing.</p>
    <h5 class="card-text">Our Digital Vision</h5>
    <p class="card-text">YES will enable and deliver on a clear digital transformation programme that
        will enable a clarity of communication, and programme offering via a future-proofed framework of
        blended learning that enables an appropriate and continually refreshed ongoing programme of
        enterprise learning to ensure equity of access.</p>
{% endblock %}