<!DOCTYPE html>
<title>About</title>
{% extends 'composter/base.html' %}
{% load static %}


{% block content_block %}
    <h1 class="container text-center">Who We Are</h1>
    <br>
    <section class="vh-90 gradient-custom">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-about">
                        <div class="card-body p-5 text-center">
                            <h2 class="fw-bold-about">Our Vision</h2>
                            <p class="text-white mb-5">For Scotland to be a place where all young people are given the
                                opportunity
                                <br>
                                to
                                have a rewarding future in work and life - no matter where they start their journey.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-about">
                        <div class="card-body p-4 text-center">
                            <h2 class="fw-bold-about">Our Mission</h2>
                            <p class="text-white mb-5">To inspire and equip young people, irrespective of their
                                background, to
                                learn,
                                develop and reach their full potential through enterprise and financial education.
                                We set high standards whilst being creative in our approach. Whilst continuing to
                                grow our
                                offering, we will ensure that all our activities are fit to meet our Mission ’whilst
                                adhering to
                                its guiding principle to do this through ’learning by doing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-about">
                        <div class="card-body p-5 text-center">
                            <h2 class="fw-bold-about">Our Digital Vision </h2>
                            <p class="text-white mb-5">YES will enable and deliver on a clear digital
                                transformation programme
                                that
                                will enable a clarity of communication, and programme offering via a future-proofed
                                framework of
                                blended learning that enables an appropriate and continually refreshed ongoing
                                programme of
                                enterprise learning to ensure equity of access.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"  >
                    <div class="card-about">
                        <div class="card-body p-5 text-center">
                            <h2 class="fw-bold-about">Our Values</h2>
                            <p class="text-white mb-5">Our Values:
                                In everything that we do, we will work with the following values:
                                <br>
                                - Integrity
                                <br>
                                - Enthusiasm
                                <br>
                                - Creativity
                                <br>
                                - Collaboration
                            </p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>


{% endblock %}