<!DOCTYPE html>
{% extends 'composter/base.html' %}
{% load static %}

{% block content_block %}
<form method="post" enctype="multipart/form-data" action="{% url 'composter:add_user' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div>
        <label for="id_username">Username: </label>
        {{ form.username.errors }}
        {{ form.username }}
        <label for="id_first_name">First name: </label>
        {{ form.first_name.errors }}
        {{ form.first_name }}
        <label for="id_last_name">Last name: </label>
        {{ form.last_name.errors }}
        {{ form.last_name }}
        <label for="id_password1">Password: </label>
        {{ form.password1.errors }}
        {{ form.password1 }}
        <label for="id_password2">Password: </label>
        {{ form.password2.errors }}
        {{ form.password2 }}
        {{ form.isAdmin }}
    </div>

    <input type="submit" name="submit" value="Post">
</form>
{% endblock %}