<!DOCTYPE html>
{% extends 'composter/base.html' %}
{% load static %}

{% block content_block %}
<form method="post" enctype="multipart/form-data" action="{% url 'composter:change_password' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div>
        <label for="id_username">Username: </label>
        {{ form.username.errors }}
        {{ form.username }}
        <label for="id_password">New password: s</label>
        {{ form.password.errors }}
        {{ form.password }}
    </div>

    <input type="submit" name="submit" value="Post">
</form>
{% endblock %}