{% extends 'composter/base.html' %}
{% load static %}
{% block content_block %}
<form id="form-container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="id_entryTime">Time: </label>
        {{ entry_form.entryTime.errors }}
        {{ entry_form.entryTime }}
        <div id="input-form-container">
            {{ input_formset.management_form }}
            {% for input in input_formset %}
                <div class="input-form">
                    <h6>Input type: </h6>
                    {{ input.inputType.errors }}
                    {{ input.inputType }}
                    {% if input.inputType.help_text %}
                    <p class="help">{{ input.inputType.help_text|safe }}</p>
                    {% endif %}
                    <h6>Input amount: </h6>
                    {{ input.inputAmount.errors }}
                    {{ input.inputAmount }}
                    {% if input.inputAmount.help_text %}
                    <p class="help">{{ input.inputAmount.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button id="add-form" type="button">Add another input</button>
            <button id="remove-form" type="button">Delete input</button>
        </div>



        <label for="id_notes">Notes: </label>
        {{ entry_form.notes.errors}}
        {{ entry_form.notes }}
        {% if entry_form.notes.help_text %}
        <p class="help">{{ entry_form.notes.help_text|safe }}</p>
        {% endif %}
    </div>
    <button type="submit">Submit input</button>
</form>
<script>
    let inputForm = document.querySelectorAll(".input-form");
    let container = document.querySelector("#input-form-container");
    let addButton = document.querySelector("#add-form");
    let removeButton = document.querySelector('#remove-form');
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS");
    let maxForms = document.querySelector("#id_form-MAX_NUM_FORMS").getAttribute('value');

    let formNum = inputForm.length-1;
    addButton.addEventListener('click', addForm);
    removeButton.addEventListener('click', removeForm);

    function addForm(e){
        e.preventDefault();
        if (totalForms.getAttribute('value') < maxForms) {
            let newForm = inputForm[0].cloneNode(true);
            let formRegex = RegExp(`form-(\\d){1}-`, 'g');

            formNum++;
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
            container.insertBefore(newForm, addButton);

            totalForms.setAttribute('value', `${formNum+1}`);
        } else {
            alert("Please use two submissions for more than 5 inputs.")
        }
    }
    function removeForm(e){
        e.preventDefault();
        if (totalForms.getAttribute('value') > 1) {
            document.getElementsByClassName('input-form')[formNum].remove();
            totalForms.setAttribute('value', `${formNum}`);
            formNum--;
        } else {
            alert("Cannot have no inputs.")
        }

    }
</script>
{% endblock %}
