{% extends 'composter/base.html' %}
{% load static %}
{% block content_block %}
<form id="form-container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="id_entryTime">Time: </label>
        {{ entry_form.entryTime.errors }}
        {{ entry_form.entryTime }}
        <div id="input-form-container">
            {{ input_formset.management_form }}
            {% for input in input_formset %}
                <div class="input-form">
                    <h6>Input type: </h6>
                    {{ input.inputType.errors }}
                    {{ input.inputType }}
                    <h6>Input amount: </h6>
                    {{ input.inputAmount.errors }}
                    {{ input.inputAmount }}
                </div>
            {% endfor %}
            <button id="add-form" type="button">Add another input</button>
        </div>



        <label for="id_notes">Notes: </label>
        {{ entry_form.notes.errors}}
        {{ entry_form.notes }}
    </div>
    <button type="submit">Submit input</button>
</form>
<script>
    let inputForm = document.querySelectorAll(".input-form")
    let container = document.querySelector("#input-form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = inputForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()

        let newForm = inputForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`, 'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)

        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>
{% endblock %}