{% extends 'composter/base.html' %}
{% load static %}

{% block content_block %}
<form method="post" enctype="multipart/form-data" action="{% url 'composter:output_entry' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div>
        <label for="id_time">Time: </label>
        {{ output_form.time.errors }}
        {{ output_form.time }}
        <label for="id_amount">Amount: </label>
        {{ output_form.amount.errors }}
        {{ output_form.amount }}
        <label for="id_notes">Notes: </label>
        {{ output_form.notes.errors }}
        {{ output_form.notes }}
    </div>

    <input type="submit" name="submit" value="Post">
</form>
{% endblock %}