<!DOCTYPE html>
<title>Root2Plate</title>
{% extends 'composter/base.html' %}
{% block content_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <h1 class="container text-center">Young Enterprise Scotland</h1>
    <br>
    <br>
    {% if notEnoughEnergyInfo %}
        <h4>Not enough information to display graph. </h4>
    {% else %}
        <canvas id="CarbonNeutralMonth" class="card" style="width: 100% ;height: auto"></canvas>
        <canvas id="CarbonNeutralYear" class="card" style="width: 100% ;height: auto"></canvas>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="inputTypeChart" class="container" style="width:50%;height: auto"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="tempChart" class="container" style="width:50%;height: auto"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        var graphExists = document.getElementById("CarbonNeutralMonth");
        if (graphExists) {
            new Chart("CarbonNeutralMonth", {
                type: 'horizontalBar',
                data: {
                    labels: {{ cMonth.label|safe }},
                    datasets: [{
                        label: 'Carbon saved by composting',
                        data: {{ cMonth.negative|safe }},
                        borderColor: "#B8BF0D",
                        backgroundColor: "#B8BF0D"
                    },
                        {
                            label: 'Carbon footprint of energy consumption',
                            data: {{ cMonth.positive|safe }},
                            borderColor: "#E01F1D",
                            backgroundColor: "#E01F1D"
                        }]
                },
                options: {
                    indexAxis: 'y',
                    legend: {display: true},
                    title: {
                        display: true,
                        text: "Carbon offset of energy consumption"
                    },
                    scales: {
                        yAxes: [{stacked: true}],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            stacked: false
                        }]
                    }
                }
            });
            new Chart("CarbonNeutralYear", {
                type: 'horizontalBar',
                data: {
                    labels: {{ cYear.label|safe }},
                    datasets: [{
                        label: 'Carbon saved by composting',
                        data: {{ cYear.negative|safe }},
                        borderColor: "#B8BF0D",
                        backgroundColor: "#B8BF0D"
                    },
                        {
                            label: 'Carbon footprint of energy consumption',
                            data: {{ cYear.positive|safe }},
                            borderColor: "#E01F1D",
                            backgroundColor: "#E01F1D"
                        }]
                },
                options: {
                    indexAxis: 'y',
                    legend: {display: true},
                    title: {
                        display: true,
                        text: "Carbon offset of energy consumption for the year"
                    },
                    scales: {
                        yAxes: [{stacked: true}],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            stacked: false
                        }]
                    }
                }
            });
        }
        new Chart("inputTypeChart", {
            type: "doughnut",
            data: {
                labels: {{ typeNames|safe }},
                datasets: [{
                    backgroundColor: ["#B8BF0D", "#E60088", "#87319A", "#E01F1D", "#00AEEF", "#03783D", "#0032A0", "#1E8986"],
                    data: {{ typePercentages|safe }}
                }]
            },
            options: {
                legend: {display: true},
                title: {
                    display: true,
                    text: "Input types"
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var value = data.datasets[0].data[tooltipItem.index];
                            return value.toFixed(1) + " %";
                        }
                    }
                }
            }
        });
        var tempTimes = {{ tempTimesInt|safe }};
        var temps = [[{% for x in tempEntries %} {{ x.probe1|safe }}, {% endfor %}], [
            {% for x in tempEntries %} {{ x.probe2|safe }}, {% endfor %}], [
            {% for x in tempEntries %} {{ x.probe3|safe }}, {% endfor %}], [
            {% for x in tempEntries %} {{ x.probe4|safe }}, {% endfor %}]];
        for (let i = 0; i < temps.length; i++) {
            for (let j = 0; j < tempTimes.length; j++) {
                temps[i][j] = {x: tempTimes[j], y: temps[i][j]};
            }

        }

        const data = {
            labels: {{ tempTimes|safe }},
            datasets: [
                {
                    label: "Temperature 1",
                    data: temps[0],
                    borderColor: "#B8BF0D",
                    fill: false,
                    showLine: true

                },
                {
                    label: "Temperature 2",
                    data: temps[1],
                    borderColor: "#E60088",
                    fill: false,
                    showLine: true
                },
                {
                    label: "Temperature 3",
                    data: temps[2],
                    borderColor: "#87319A",
                    fill: false,
                    showLine: true
                },
                {
                    label: "Temperature 4",
                    data: temps[3],
                    borderColor: "#E01F1D",
                    fill: false,
                    showLine: true
                }
            ]
        };
        new Chart("tempChart", {
            type: "scatter",
            data: data,
            options: {
                responsive: true,
                interaction: {
                    mode: "nearest",
                    axis: "x",
                    intersect: false
                },
                title: {
                    display: true,
                    text: "Composter temperatures"
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: "Day"
                        },
                    },
                    y: {
                        stacked: true,
                        title: {
                            display: true,
                            text: "Temperature"
                        }
                    },
                    xAxes: [{
                        ticks: {
                            display: false
                        }
                    }]
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var label = data.labels[tooltipItem.index];
                            return label + ': ' + tooltipItem.yLabel;
                        }
                    }
                }
            }
        });
    </script>



{% endblock %}
