<title>Food Collection</title>
{% extends 'composter/base.html' %}
{% load static %}

{% block content_block %}
<h1 class="card-title container text-center">Food Collection Form</h1>
<divstyle="justify-content: center">
    <form method="post" enctype="multipart/form-data" action="{% url 'composter:restaurant_form' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <div >
            <br>
            <p>Restaurant name</p>
            {{ restaurant_form.name.errors }}
            {{ restaurant_form.name }}
            <p>Restaurant address</p>
            {{ restaurant_form.address.errors }}
            {{ restaurant_form.address }}
            <p>Deadline Date</p>
            {{ restaurant_form.deadlineDate.errors }}
            {{ restaurant_form.deadlineDate }}
            <p>Email Address</p>
            {{ restaurant_form.email.errors }}
            {{ restaurant_form.email }}
            <p>Phone Number</p>
            {{ restaurant_form.phoneNumber.errors }}
            {{ restaurant_form.phoneNumber }}
            <p>Number of bags</p>
            {{ restaurant_form.numberOfBags.errors }}
            {{ restaurant_form.numberOfBags }}
            <p>Additional Notes</p>
            {{ restaurant_form.notes.errors }}
            {{ restaurant_form.notes }}
            <br>
            <input type="submit" name="submit" value="Post">
        </div>

    </form>
</div>
{% endblock %}