<!DOCTYPE html>
<title>Restaurant notification</title>
{% extends 'composter/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content_block %}
    <h1 class="container text-center mb-4">Restaurant Collections</h1>
    {% if restaurant_notifs %}
        {% for notif in restaurant_notifs %}
            <div class="card mb-4">
                <div class="card">
                    <div class="row g-10">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text" style="font-size: large;color: #B8BF0D" >{{ notif.name }}</p>
                                <p class="card-text">Collection date : {{ notif.deadlineDate }}</p>
                                <p class="card-text">Address : {{ notif.address }}</p>

                                <p class="card-text">Number of bags : {{ notif.numberOfBags }}</p>
                                <p class="card-text">E-mail : {{ notif.email }}</p>
                                <p class="card-text">Phone Number : {{ notif.phoneNumber }}</p>
                                <p class="card-text">Additional notes : {{ notif.notes }}</p>
                                {% if notif.collected %}
                                    <button type="button" class="btn btn-success w-30">Collected!</button>
                                {% else %}
                                    <a href="{% url 'composter:collect_request' notif.requestID %}">
                                        <button type="button" class="btn btn-danger w-30">Collect</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <iframe
                                    width="100%"
                                    height="100%"
                                    style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q={{ notif.address }}
                                    &key=AIzaSyBYHqoQspF0vvLU1c0ZZcv_WjaGiyXyRpQ"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        There are no requests!
    {% endif %}
{% endblock %}