{% extends 'composter/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content_block %}
    <h1 class="container text-center mb-3">Administrative Dashboard</h1>
    {% if success_message %}
        <h3 class="text-center text-success">{{ success_message }}</h3>
    {% endif %}
    <a href="{% url 'admin:index' %}" class="btn btn-primary">Full admin site</a>
    <div class="accordion" id="Adminaccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                data-bs-parent="#Adminaccordion">
                    User Registration
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#Adminaccordion">
                <div class="accordion-body">
                    <form method="post" class="w-100"
                          enctype="multipart/form-data" action="{% url 'composter:simple_admin' %}">
                        {% csrf_token %}
                        {% for hidden in user_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="container">
                            {{ user_form.username.errors }}
                            {{ user_form.username|as_crispy_field }}
                            {{ user_form.first_name.errors }}
                            {{ user_form.first_name|as_crispy_field }}
                            {{ user_form.last_name.errors }}
                            {{ user_form.last_name|as_crispy_field }}
                            {{ user_form.password1.errors }}
                            {{ user_form.password1|as_crispy_field }}
                            {{ user_form.password2.errors }}
                            {{ user_form.password2|as_crispy_field }}
                            {{ user_form.is_staff|as_crispy_field }}
                            <button type="submit" value="Post" class="btn btn-success">Add User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Add Input Type
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#Adminaccordion">
                <div class="accordion-body">
                    <div class="container">
                        <form method="post" class="w-100"
                              enctype="multipart/form-data" action="{% url 'composter:simple_admin' %}">
                            {% csrf_token %}
                            {% for hidden in input_type_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div>
                                {{ input_type_form.name.errors }}
                                {{ input_type_form.name|as_crispy_field }}
                                {{ input_type_form.CNRatio.errors }}
                                {{ input_type_form.CNRatio|as_crispy_field }}
                                {{ input_type_form.nitrogenPercent.errors }}
                                {{ input_type_form.nitrogenPercent|as_crispy_field }}
                                {{ input_type_form.moisturePercent.errors }}
                                {{ input_type_form.moisturePercent|as_crispy_field }}
                                <button type="submit" value="Post" class="btn btn-success">Add Input Type</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Change User Password
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#Adminaccordion">
                <div class="accordion-body">
                    <div class="container">
                        <form method="post" class="w-100"
                              enctype="multipart/form-data" action="{% url 'composter:simple_admin' %}">
                            {% csrf_token %}
                            {% for hidden in change_password_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div>
                                {{ change_password_form.username.errors }}
                                {{ change_password_form.username|as_crispy_field }}
                                {{ change_password_form.password.errors }}
                                {{ change_password_form.password|as_crispy_field }}
                                <button type="submit" value="Post" class="btn btn-success">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Add Meter Readings
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="#Adminaccordion">
                <div class="accordion-body">
                    <div class="container">
                        <form method="post" class="w-100"
                              enctype="multipart/form-data" action="{% url 'composter:simple_admin' %}">
                            {% csrf_token %}
                            {% for hidden in energy_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div>
                                {{ energy_form.date.errors }}
                                {{ energy_form.date|as_crispy_field }}
                                {{ energy_form.gas.errors }}
                                {{ energy_form.gas|as_crispy_field }}
                                {{ energy_form.electricity.errors }}
                                {{ energy_form.electricity|as_crispy_field }}
                                <button type="submit" value="Post" class="btn btn-success">Submit Readings</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

