{% extends 'composter/base.html' %}
{% load static %}
<title>Temperature Form</title>

{% block content_block %}
<h1 class="card-title container text-center">Temperature form</h1>
<form method="post" enctype="multipart/form-data" action="{% url 'composter:temp_entry' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div>
        <h5>Entry Time</h5>
        {{ temperature_form.entryTime.errors }}
        {{ temperature_form.entryTime }}
        <h5>Probe 1</h5>
        {{ temperature_form.probe1.errors }}
        {{ temperature_form.probe1 }}
        <h5>Probe 2</h5>
        {{ temperature_form.probe2.errors }}
        {{ temperature_form.probe2 }}
        <h5>Probe 3</h5>
        {{ temperature_form.probe3.errors }}
        {{ temperature_form.probe3 }}
        <h5>Probe 4</h5>
        {{ temperature_form.probe4.errors }}
        {{ temperature_form.probe4 }}
        <h5>Notes</h5>
        {{ temperature_form.notes.errors }}
        {{ temperature_form.notes }}
        <input type="submit" name="submit" value="Post">
    </div>

</form>
{% endblock %}